@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800|Open+Sans:400,400i,600,700|Raleway:400,500,600,700,800');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000000;
}

.logo_justicia{
    padding-top: 5px;
    width: 380px;
}

.maps-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 20px;
    width: 100%;
    height: 150px; 
}

.maps-logo img {
    width: 270px;
    height: 130px;
}
/* ///////////////////BOTÓN 3D 2/////////////////// */

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    outline: none;
    outline-offset: none;

}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.captchap{
    margin-left: 8rem;
}

.boton-consulta{
    margin-left: 15rem;
}

.portada {
    margin-top: 65px !important;
}

@media screen and (max-width: 767px) {
    .portada {
        margin-top: 0 !important;
    }

    .maps-logo {
        padding-left: 40px;
    }
        
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 0px;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease;
}

.celestito {
    color: #0463CE;
}

.contiene {
    width: 340px;
    height: 320px;
}

.color-boton {
    width: 250px;
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    border-bottom: 3px solid #000000;
    border-top: 0px;
    border-left: 3px solid #000000;
    border-right: 0px;
    color: #fff;
    background: rgb(83, 88, 93);
    transition: all 0.3s ease;
}

.color-boton:hover {
    width: 250px;
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    border-bottom: 3px solid #000000;
    border-top: 0px;
    border-left: 3px solid #000000;
    border-right: 0px;
    color: #fff;
    background: rgb(98, 40, 40);
    background: linear-gradient(140deg, rgba(98, 40, 40, 1) 2%, rgba(85, 5, 5, 1) 14%, rgba(98, 40, 40, 1) 17%, rgba(55, 9, 9, 1) 89%, rgba(98, 40, 40, 1) 100%);
    -moz-backface-visibility: hidden;
    transform: translateY(0);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    transition: all 200ms ease;
}

.botones-tramites {
    max-width: 60px;
    margin: 0.1rem;
}

.espaco {
    padding-left: 10%;
}

.orden-tramites {
    text-align: right;
}

.orden-botones {
    text-align: right;
    float: right;
}



/* ///////////////END BOTON/////////////////////// */


.space {
    margin-bottom: 1rem;
    text-align: right;
}

.lista-tramites {
    float: right;
    margin-bottom: .75rem;
}

.blog-page-section .right-box .single-sidebar-widget .search-widget form button {
    width: 54px;
    height: 100%;
    position: relative;
    top: 0;
    background: #2e2e95;
    right: 0;
    color: #fff;
}

.contenedor2 {
    margin-left: 5%;
    margin-right: 5%;
}

.main-menu-three #main-navigation-wrapper.navbar-default .navbar-nav>.open>a,
.main-menu-three #main-navigation-wrapper.navbar-default .navbar-nav>.open>a:focus,
.main-menu-three #main-navigation-wrapper.navbar-default .navbar-nav>.open>a:visited,
.main-menu-three #main-navigation-wrapper.navbar-default .navbar-nav>li:visited>a {
    background: #EA2428;
    color: #fff;
}

.main-menu-three #main-navigation-wrapper .dropdown-submenu>li>a,
#main-navigation-wrapper .dropdown-submenu2>li>a {
    color: rgb(255 255 255);
    display: block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: .5s ease-in-out;
}

.contenedor {
    position: relative;
}

.dytroit {
    position: absolute;
    top: 50%;
    left: 98%;
    transform: translate(-50%, -50%);
}

.dytroit2 {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -100%);
    height: 45px;
}



/* Efecto up lift en imagenes */
/*.lift {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transform: translateY(0);
    transition: all 0.3s ease;
}
.lift:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0rem 0.25rem 1.25rem rgb(52 63 82 / 10%);
}*/



.header-3 {
    background: #ffffff;
    line-height: 49px;
    position: relative;
    z-index: 9;
}

.single-services .img-box {
    position: relative;
    overflow: hidden;
    height: 180px;
    text-align: center;
    border-radius: 10px;
}

element.style {}

.footer .about-widget .logo img {
    margin-top: 10%;
}

.footer .about-widget .logo img {
    max-width: 100%;
}

.posi-derecha {
    float: right;
}

.blan {
    color: #fff;
}

.blan:hover {
    color: #fff;
}

.margenderecha {
    margin-left: 10px;
}

.margenabajo {
    margin-bottom: 50px;
}

.colorsito {
    color: #EA2428;
    background-color: #ffffff;
    margin: 0;
    font-weight: 600;
    padding: .25rem 0;
}

.directores {
    color: #fff;
    background-color: #53585d;
    border-color: #53585d;
    margin: 2px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.directores:hover {
    color: #fff;
    background-color: #520000;
    border-color: #520000;
    margin: 2px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.colorsito:hover {
    color: #0e2050;
    background-color: #ffffff;
    margin: 0;
}

.radio-img {
    border-radius: 1rem !important;
}

.padding-arriba {
    padding-top: 70px;
    padding-bottom: 70px;
}

.darle-padding {
    padding: 70px 0px !important;
}

.sec-padding {
    padding: 20px 0px !important;
}

.blanquito {
    background-color: #fff !important;
}

a:hover,
a:focus {
    color: #3d4864;
    text-decoration: none;
}

h6 {
    font-size: 18px;
    line-height: 20px;
}

.single-team-member p {
    font-size: 13px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    line-height: 19px;
    -webkit-transition: color .4s ease;
    transition: color .4s ease;
}

#imagelightbox-caption {
    background-color: #0e2050;
}

.imggaleria {
    object-fit: contain;
}

.numeroD li {
    color: red;
}

.espacioSide {
    margin-top: 3rem;
}



.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-prev,
.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-next {
    color: #fff;
    font-size: 18px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    ;
    text-align: center;
    line-height: 39px;
    opacity: 0;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.blog-page-section .right-box .single-sidebar-widget .category-widget ul li a {
    font-weight: 600;
    color: #444;
    display: block;
    line-height: 48px;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
    -webkit-transition: color .4s ease;
    transition: color .4s ease;
}

.numeroD {
    color: #d60e1f;
}

.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-prev {
    left: 10%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
}

.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-next {
    right: 10%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
}

.owl-carousel.owl-theme:hover .owl-controls .owl-nav div.owl-next {
    right: 2%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    opacity: 1;
}

.owl-carousel.owl-theme:hover .owl-controls .owl-nav div.owl-prev {
    left: 2%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    opacity: 1;
}

.owl-carousel.owl-theme:hover .owl-controls .owl-nav div.owl-next:hover,
.owl-carousel.owl-theme:hover .owl-controls .owl-nav div.owl-prev:hover {
    color: #fff;
    background: #18388d;
    border: 1px solid #18388d;
}

ul {
    list-style: disc;
    margin: 0;
    padding: 0px 0px 0px .5rem;
}

.blog-page-section .right-box .single-sidebar-widget .category-widget ul li a:hover {
    color: #EA2428;
}

.ulwidgetDetalle {
    list-style: none;
    padding: 0 !important;
}


.blog-page-section .right-box .search-widget {
    height: 54px;
    position: relative;
    margin-top: 0px;
}

.thm-btn:hover {
    border: 1px solid #520000;
    color: #fff;
    background: #520000;
    transition: 0.4s;
}

.thm-btn {
    border: 1px solid #53585d;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 0px;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: none;
    z-index: 222;
    background: #53585d;
    width: 175px;
    border-radius: 3px;
    transition: 0.4s;
}

.header-3 .sec-line .sec-line-wraper ul li {
    margin-left: 40px;
}

.imgAutoridad {
    border-radius: 50%;
    margin-bottom: 0.2em;
    border: 2px #53585d solid;
}

.single-team-member .text-box {
    border: 1px solid #ffffff00;
    text-align: center;
    padding-top: 8px;
    height: 100px;
    padding-bottom: 20px;
    -webkit-transition: background .4s ease;
    transition: background .4s ease;
}

.main-menu-three #main-navigation-wrapper {
    background: #EA2428;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}


.main-menu-three #main-navigation-wrapper .logo {
    margin: 15px 0 15px;
    max-width: 252px;
}

.main-menu-three #main-navigation-wrapper .navbar-nav>li>.dropdown-submenu {
    min-width: 270px;
}

.main-menu-one #main-navigation-wrapper .navbar-nav>li .dropdown-submenu2 {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    padding: 0;
    border: none;
    border-radius: 0;
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    min-width: 220px;
    background: #EA2428;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

.main-menu-three #main-navigation-wrapper .dropdown-submenu>li>a,
#main-navigation-wrapper .dropdown-submenu2>li>a {
    font-size: 11px;
}

.main-menu-three #main-navigation-wrapper .nav>li>a {
    color: #fff;
}

.logo-45 {
    height: 45px;
}

.logo-60 {
    height: 60px;
}

.logo-80 {
    height: 80px;
}

.error-btn {
    background: #520000;
    border: 2px solid #520000;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px;
    transition: 0.4s;
    margin-top: 15px;
    border-radius: 3px;
    text-transform: inherit;
    margin-top: 30px;
    display: inline-block;
    font-weight: 700;
}

.error-btn:hover {
    background: #520000;
    border: 2px solid #520000;
    color: #fff;
}

.footer .footer-widget {
    margin-bottom: 0rem;
}

.single-team-member:hover .img-box img {
    border: 2px #520000 solid;
    opacity: 0.8;
}

div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url('../img/logo/preloader.png') no-repeat center center;
}

.single-team-member:hover .text-box {
    background: rgb(255 255 255 / 0%);
}

.single-team-member:hover .text-box h4 {
    color: #0e2050;
}

.single-team-member:hover .text-box p {
    color: #000;
}

.color {
    color: #0e2050;
}

::selection {
    background: #18388d26;
    text-shadow: none;
}

.breadcrumb {
    padding: 40px 0px 40px 0px;
    background-color: transparent;
    margin-bottom: 0;
    margin-top: 20px;
}

.contact-form select {
    border: 1px solid #ccc;
    border-radius: 0;
    height: 44px;
    margin-bottom: 15px;
    padding-left: 20px;
    width: 100%;
}

.single-services {
    box-shadow: none;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    /* border: 4px solid #f4f4f4; */
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 10%);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transform: translateY(0);
    transition: all 0.3s ease;
}

.single-services:hover {
    box-shadow: none;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    /* border: 4px solid #f4f4f4; */
    z-index: 1;
    border-radius: 10px;
    transform: translateY(-0.4rem);
    box-shadow: 0rem 0.25rem 1.25rem rgb(52 63 82 / 40%);
}

.single-services .img-box .ready-btn {
    border: 1px solid #0e2050;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 75px;
    padding: 12px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    z-index: 222;
    background: #0e2050;
    width: 155px;
    border-radius: 10px;
}

.welcome-section-3 .box i {
    font-size: 62px;
    color: #0e2050;
    margin-bottom: 15px;
}

.single-services .text-content {
    padding: 1rem;
    text-align: left;
}

.single-services .text-content p {
    margin: 0;
    font-size: 14px;
}

.welcome-section-3 .box::after {
    width: 100%;
    height: 4px;
    position: absolute;
    content: "";
    background: #EA2428;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: .5s ease;
}

.blog-page-section .right-box .single-sidebar-widget .search-widget form button {
    background: #53585d;
    transition: .5s ease;
}
.blog-page-section .right-box .single-sidebar-widget .search-widget form button:hover {
    background: #520000;
    transition: .5s ease;

}
.footer .tel-box .icon,
.footer .tel-box .text {
    display: block;
    vertical-align: top;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.main-menu-three #main-navigation-wrapper.navbar-default .navbar-nav>.open>a,
.main-menu-three #main-navigation-wrapper.navbar-default .navbar-nav>.open>a:focus,
.main-menu-three #main-navigation-wrapper.navbar-default .navbar-nav>.open>a:hover,
.main-menu-three #main-navigation-wrapper.navbar-default .navbar-nav>li:hover>a {
    background-color: #b32e30;
    color: #fff;
}

/* ACA */
.main-menu-three #main-navigation-wrapper .navbar-nav>li>.dropdown-submenu { 
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    padding: 0;
    border: none;
    border-radius: 0;
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    min-width: 220px;
    background: #EA2428;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
    border-top: 2px solid rgb(216, 20, 20);
}

.main-menu-three #main-navigation-wrapper .dropdown-submenu>li>a:focus,
.main-menu-three #main-navigation-wrapper .dropdown-submenu>li>a:hover,
.main-menu-three #main-navigation-wrapper .dropdown-submenu2>li>a:focus,
.main-menu-three #main-navigation-wrapper .dropdown-submenu2>li>a:hover {
    background-color: #EA2428;
    color: #fff;
}

.main-menu-three #main-navigation-wrapper .navbar-nav>li>.dropdown-submenu {
    border-top: 2px solid #EA2428;
}

.intro-carousel.owl-carousel.owl-theme:hover .owl-controls .owl-nav div.owl-next:hover,
.intro-carousel.owl-carousel.owl-theme:hover .owl-controls .owl-nav div.owl-prev:hover {
    color: #fff;
    background: #EA2428;
    border: 1px solid #EA2428;
}

.ready-btn {
    border: 1px solid #EA2428;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
    padding: 12px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    z-index: 222;
    background: #EA2428;
    width: 175px;
    border-radius: 3px;
}

.load-more-btn {
    text-transform: uppercase;
    background: #53585d;
    display: inline-block;
    padding: 12px 30px;
    color: #fff;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 3px;
    width: 200px;
    transition: 0.4s;
    border: 2px solid #53585d;
}

.load-more-btn:hover {
    text-transform: uppercase;
    background: #520000;
    display: inline-block;
    padding: 12px 30px;
    color: #fff;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 3px;
    width: 200px;
    transition: 0.4s;
    border: 2px solid #520000;
}

.ready-btn.left-btn:hover {
    background: #666666;
    border: 1px solid #666666;
}

.intro-content::after {
    /*background: rgba(27, 48, 83, 0.20);*/
    background: none;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.footer-bottom {
    background: #ffffff;
    padding: 27px 0;
}

a {
    color: #0e2050;
    text-decoration: none;
}

.footer {
    background: url(../archivos/multimedia/banner/nanduti.jpg);
    width: 100%;
    padding-bottom: 40px;
}

.footer .links-widget ul li a {
    font-size: 15px;
    color: #ffffff;
    line-height: 18px;
    -webkit-transition: color .4s ease;
    transition: color .4s ease;
}

.footer .links-widget ul li a:hover {
    color: #c9cbd1;
}

p {
    margin: 0 0 15px;
    color: #262525;
}

.footer .tel-box .text p {
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
}

.footer .tel-box .text p a {
    color: #ffffff;
}

.footer .social li a {
    width: 35px;
    height: 35px;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-align: center;
    display: block;
    border-radius: 50%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin-right: 5px;
}

.footer .social li a:hover {
    color: #ced1db;
    border-color: #ced1db;
}

.footer .footer-widget .ready-btn-footer {
    border: 1px solid #0e2050;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
    padding: 0px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    z-index: 222;
    background: #0e2050;
    width: 100%;
    border-radius: 3px;
    line-height: 45px;
}

.colorFooterI {
    float: left;
}

.main-menu-one #main-navigation-wrapper .logo {
    margin: 15px 5px 15px 0px;
    max-width: 260px;
}

.main-menu-one #main-navigation-wrapper .logo2 {
    margin: 0px 0px 0px 20px;
    max-width: 260px;
    padding-top: 2.3000000000000007rem;
}

.breadcumb-overlay {
    position: absolute;
    background: rgb(27 48 83 / 35%) none repeat scroll 0 0;
    width: 100%;
    height: 100%;
}

.reposivelogo {
    display: block;
}

.colorFooterI p {
    color: #000 !important;
}

.colorFooterD {
    float: right;
}

.colorFooterD a {
    color: #000 !important;
}

.sec-padding-footer {
    padding: 3rem 0px 3rem 0;
}

.footer .about-widget .logo img {
    margin-top: 10%;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    padding: 10px 19px;
    background: #53585d;
    border-color: #53585d;
    border-radius: 0 !important;
}

.pagination>li>a,
.pagination>li>span {
    color: #53585d;
    padding: 10px 19px;
    border: 1px solid #53585d;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    z-index: 2;
    color: #53585d;
    background-color: #eee;
    border-color: #53585d;
}

.blog-section-2 .single-blog-post .date {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: #0e2050;
    width: 55px;
    height: 55px;
    display: block;
    padding: 8px 10px;
    transform: translate3d(0px, 0px, 0px);
    transition: all 500ms ease;
    transition-delay: 0.5s;
}

.mr-2 {
    margin-right: 2rem  !important;
}

.contenContactIn {
    text-align: right;
}

.slider-content {
    position: absolute;
    right: 0;
    text-align: left;
    top: 50%;
    z-index: 3;
    left: 0;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: -10%;
}

.form-control {
    height: 43px;
    border: 1px solid #f1f1f1;
}

.blog-page-section .right-box .single-sidebar-widget .search-widget form button {
    width: 50px;
    height: 45px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
}

.ver-more-btn {
    text-transform: uppercase;
    background: #53585d;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
    margin-top: 0px;
    border-radius: 3px;
    width: 118px;
    transition: 0.4s;
    border: 2px solid #53585d;
}

.ver-more-btn:hover {
    background: #520000;
    color: #fff;
    border-radius: 3px;
    transition: 0.4s;
    border: 2px solid #520000;
}

.contact-page .load-more-btn {
    float: left;
}

.blog-page-section .right-box .single-sidebar-widget .search-widget form input {
    width: 100%;
    height: 43px;
}

.modal-header {
    background: #0e2050;
}

.text-white {
    color: #fff;
}

.contact-inner a {
    color: #444;
    font-size: 15px;
    display: block;
    text-transform: uppercase;
}

.contact-inner a i {
    color: #0e2050;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    margin-right: 15px;
    border-radius: 50%;
}

.contact-inner a .numOfi {
    color: #0e2050;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    margin-right: 15px;
    margin-bottom: 0;
    font-weight: 800;
}

.modal-header .close {
    margin-top: 4px;
    color: #fff;
    opacity: 0.8;
}

.blog-page-section .right-box .single-sidebar-widget .search-widget form input[type=date] {
    padding: 0px 10px 0 12px;
    color: #9e9e9e;
}

.layer-1-2 h1 {
    color: #ffffff;
    text-shadow: 0 0 3px #131304, 0 0 3px #ffff;
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    max-width: 880px;
    letter-spacing: -1px;
}

.intro-carousel .owl-item.active .slider-images img {
    transform: none;
    transition: none;
}

.main-menu-three #main-navigation-wrapper .navbar-nav>li .dropdown-submenu2 {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    padding: 0;
    border: none;
    border-radius: 0;
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    min-width: 220px;
    background: #EA2428;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
    -webkit-box-shadow: 0px 3px 15px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 15px rgb(0 0 0 / 30%);
}

.main-menu-three #main-navigation-wrapper .dropdown-submenu2>li>a:focus,
.main-menu-three #main-navigation-wrapper .dropdown-submenu2>li>a:hover,
.main-menu-three #main-navigation-wrapper .dropdown-submenu2>li>a:focus,
.main-menu-three #main-navigation-wrapper .dropdown-submenu2>li>a:hover {
    background-color: #EA2428;
    color: #fff !important;
}

.iconoflecha {
    float: right;
    margin-top: 0.6rem;
    color: #FFF;
}

@media screen and (max-width: 1600px) {
    .intro-carousel {
        padding-top: 6.8rem;
    }
    .contiene {
        width: 285px;
        height: 370px;
    }
}

@media screen and (max-width: 1400px) {
    .intro-carousel {
        padding-top: 6.5rem;
    }
    .contiene {
        width: 285px;
        height: 370px;
    }
}

@media screen and (max-width: 1300px) {
    .intro-carousel {
        padding-top: 6rem;
    }
    .contiene {
        width: 275px;
        height: 350px;
    }
}

@media screen and (max-width: 1199px) {

    .intro-carousel {
        padding-top: 6rem;
    }

    .breadcrumb {
        padding: 90px 0px 30px 0px;
        background-color: transparent;
        margin-bottom: 0;
        margin-top: 120px;
    }

    .captchap{
        margin-left: 4rem;
    }

    .boton-consulta{
        margin-left: 8rem;
    }

    .contiene {
        width: 220px;
        height: 350px;
    }

    .padding-arriba {
        
        padding-bottom: 20px;
    }

    .owl-carousel .owl-item {
        position: relative;
        min-height: 1px;
        float: left;
        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-top: 17rem;
    }

}

@media screen and (max-width: 992px) {
    
    .intro-carousel {
        padding-top: 0rem;
    }

    .main-menu-one #main-navigation-wrapper .logo {
        margin: 20px 28px 20px 0px;
        max-width: 150px;
    }

    .main-menu-one #main-navigation-wrapper .logo2 {
        margin: 20px 28px 20px 20px;
        max-width: 90px;
    }

    .centro {
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    .captchap{
        margin-left: 20rem;
    }

    .boton-consulta{
        margin-left: 27rem;
    }

    .padding-arriba {
        padding-bottom: 20px;
    }

    .espaco {
        padding-left: 0%;
    }

    .main-menu-one #main-navigation-wrapper .logo2 {

        padding-top: 0rem;
    }
}



@media screen and (max-width: 767px) {
    .orden-tramites {
        text-align: center;
    }

    .orden-botones {
        text-align: center;
        float: none;
    }

    .owl-carousel .owl-item {
        position: relative;
        min-height: 1px;
        float: left;
        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-top: 0rem;
    }

    #main-navigation-wrapper .navbar-nav .dopdown-nav-toggler:before {
        position: absolute;
        font-family: 'FontAwesome';
        border: none;
        content: "\f078";
        top: 15px;
        color: #fff;
        right: 27px;
    }

    .space {
        margin-bottom: 10rem;
        text-align: center;
    }

    .navbar {
        position: relative;
        min-height: 6px;
    }

    .reposivelogo {
        display: none;
    }

    .slider-section {
        width: 100%;
        height: 10px;
        min-height: 50px;
        margin-top: 0px;
    }

    .float-left {
        float: left;
    }

    .padding-arriba {
        padding-top: 135px;
        padding-bottom: 10px;
    }

    .main-menu-three #main-navigation-wrapper {
        background: #EA2428;
        border-radius: 0;
        border: none;
        margin-bottom: 0;
    }
    .iconoflecha {
        float: right;
        margin-top: 0.6rem;
        color: #FFF;
    }
    .main-menu-three #main-navigation-wrapper .dropdown-submenu>li>a {
    color: rgb(255 255 255);
    display: block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: .5s ease-in-out;
}
}

@media screen and (max-width: 700px) {
    #main-navigation-wrapper .navbar-nav .dopdown-nav-toggler:before {
        position: absolute;
        font-family: 'FontAwesome';
        border: none;
        content: "\f078";
        top: 15px;
        color: #ffff;
        right: 27px;
    }

    .lista-tramites {
        float: center;

    }

    .padding-arriba {
        padding-top: 220px;
        padding-bottom: 10px;
    }

    .search {
        width: 100% !important;
    }

    #tipo_filtro {
        width: 100% !important;
    }

    .pull-left {
        float: inherit !important;
    }

    .main-menu-one #main-navigation-wrapper .logo {
        margin: 20px 28px 20px 0px;
        max-width: 221px;
    }

    h6 {
        font-size: 15px;
    }

    .footer .footer-widget {
        margin-bottom: 2rem;
    }

    .footer .links-widget.links-widget-pac {
        padding: 0rem 0rem 2rem 0rem;
        text-align: center;
    }

    .breadcrumb {
        padding: 5px 0px 18px 0px;
        background-color: transparent;
        margin-bottom: 0;
        margin-top: 20px;
    }

    .owl-carousel .owl-item img {
        transform-style: preserve-3d;
        object-fit: cover !important;
    }

    .intro-content::after {
        background: rgb(0 0 0 / 35%) !important;
    }

    .slider-content {
        position: absolute;
        right: 0;
        text-align: left;
        top: 27%;
        z-index: 3;
        left: 0;
        margin: 0 auto;
        margin-top: 0px;
        margin-top: -10%;
    }

    .layer-1-2 h1 {
        color: #ffffff;
        text-shadow: 0 0 1px #131304, 0 0 3px #292f33;
        font-size: 25px;
        font-weight: 700;
        line-height: 29px;
        text-transform: uppercase;
        max-width: 100%;
        letter-spacing: -1px;
    }

    .main-menu-three #main-navigation-wrapper {
        background: #EA2428;
        border-radius: 0;
        border: none;
        margin-bottom: 0;
    }

    .main-menu-three #main-navigation-wrapper .nav>li>a {
        color: #ffff;
    }

    .navbar {
        position: relative;
        min-height: 0px;
        margin-bottom: 20px;
        border: 1px solid transparent;
    }

    .float-left {
        float: left !important;
    }

    .main-menu-three #main-navigation-wrapper .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
        border: none;
    }

    .navbar-toggle {
        margin: 37px 26px !important;
    }

    h4 {
        font-size: 20px;
        line-height: 26px;
    }

    .posi-derecha {
        float: left;
    }

    .margenderecha {
        margin-top: 50px;
        margin-left: 10px;
    }

    .sec-padding {
        padding: 15px 0px !important;
    }

    .darle-padding {
        padding: 30px 0px !important;
    }

    .section-titleBar {
        margin-bottom: 0px;
        position: relative;
    }

    .numbers-section-3 .section-titleBar {
        text-align: center;
    }

    .section-titleBar h3 {
        text-align: center !important;
        margin-bottom: 3rem;
    }

    .numbers-section-3 .single-count-box {
        border: none;
        /* margin: auto; */
        margin-bottom: 0;
        float: initial;
        margin-left: 0;
        margin-right: 0;
    }

    .colorFooterI {
        float: initial;
        text-align: center;
    }

    .colorFooterD {
        float: initial;
        text-align: center;
    }

    .contenContactIn {
        text-align: center;
    }

    .footer-bottom p {
        margin: 0;
        font-size: 12px;
    }

    .numbers-section-3 .single-count-box .box .number-box {
        font-size: 55px;
        color: #FFFFFF;
        line-height: 32px;
        font-weight: 600;
        text-align: center;
    }

    .navbar-toggle {
        margin: 29px 0;
    }

    .ready-btn {
        border: 1px solid #18388d;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        margin-top: 20px;
        padding: 5px 10px;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.4s ease 0s;
        z-index: 222;
        background: #18388d;
        width: 112px;
        border-radius: 3px;
    }

    .intro-content,
    .slider-images img {
        object-fit: cover !important;
    }

    .main-menu-one #main-navigation-wrapper .logo {
        margin: 25px 9px 5px 0px;
        max-width: 270px;
    }
}

@media screen and (min-width: 609px) {
    .logo-pc {
        display: none;
    }
}

@media screen and (max-width: 609px) {
    .logo-movil {
        display: none;
    }
    .captchap{
        margin-left: 13rem;
    }

    .boton-consulta{
        margin-left: 20rem;
    }

}

@media screen and (max-width: 500px) {

    .lista-tramites {
        float: left;
    }

    .centrito {
        text-align: center;
    }

    .captchap{
        margin-left: 8rem;
    }

    .boton-consulta{
        margin-left: 15rem;
    }

    .space {
        margin-bottom: 13rem;
        text-align: center;
    }

    .contiene {
        width: 350px;
        height: 350px;
    }

}

@media screen and (max-width: 450px) {
    .captchap{
        margin-left: 0rem;
    }

    .boton-consulta{
        margin-left: 8rem;
    }
}

@media screen and (max-width: 380px) {

    .main-menu-one #main-navigation-wrapper .logo {
        margin: 25px 9px 5px 0px;
        max-width: 225px;
    }

    .captchap{
        margin-left: 0rem;
    }

    .boton-consulta{
        margin-left: 8rem;
    }

    .contiene {
        width: 310px;
        height: 350px;
    }

    .lista-tramites {
        float: center;
    }
}